<!DOCTYPE html>
<html>

<head>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta charset='utf-8'>
    <title>
        {% if page.title %} 
            {{ page.title }} 
        {% else %} 
            {{ site.name }} &mdash; {{ site.description }}
        {% endif %}
    </title>
    <link rel="icon" type="image/png" href="/favicon.png" />
    <style>
.title h1 {
  margin-bottom: 0;
  margin-top: -7px;
}
</style>
</head>


{{ content | remove: '<p>' | remove: '</p>' }}

</html>